<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Employee Management App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:4200/customer">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/add-dependent">Add Dependent</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Delete Dependent</a>
            </li>
          </ul>
        </div>
      </nav>
    <body>
   
        <div class="container">
            <h2>Customer Details</h2>
            <p>Below are the customer details</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{customer.first_name}}</td>
                        <td>{{customer.last_name}}</td>
                        <td>{{customer.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <h2>Dependent Details</h2>
            <p>Below are the customers dependents</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Date of Birth</th>
                    </tr>
                </thead>
                <tbody *ngFor="let dependent of dependents">
                    <tr>
                        <td>{{dependent.first_name}}</td>
                        <td>{{dependent.last_name}}</td>
                        <td>{{dependent.dob | date: 'MM/dd/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>